/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url(../css/custom.css);

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.herobtncard{
  display: flex;
  flex-direction: row;
  gap: 24px;
  border-radius: 12px;
  border: 4px solid #000;
  background-color: red;
}
.comWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}
.con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  align-items: ltr;
  max-width: 1200px;
  gap: 32px
}

.heroLogo{
  width: 512px;
  
}
.heroLogSvg{
fill: var(--s-neutral-100) ;
}
.heroSection{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.heroText{
  display: flex;
  flex-direction: row;
  gap: 8px
}
.switchText{
  color: var(--ifm-color-primary)
}
  @media only screen and (max-width: 920px) {
    .heroText{
    display: flex;
    flex-direction: column;
    gap: 8px
  }
  .heroLogo{
  width:256px;
}
}